{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About us</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/14958790671_70e7be5568_o.jpg" class="img-thumbnail">
    </div>
</div>

   
{{> footer }}